@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600&family=Barlow+Condensed:wght@300;400;500;600;700&display=swap");
:root {
  --bgColor: #031a30;
  --primaryColor: #00eaff;
  --secondaryColor: rgb(150, 162, 188);
  --textColor: #dae4fb;
  --paragraphColor: rgb(127, 127, 175);
  --hoverColor: hsl(185, 92%, 41%);
  --cardColor: #072340;
  --formColor: rgb(2, 15, 29);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bgColor);
  height: 200vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.sectionTitle {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--textColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTitle .titleNumber {
  color: var(--primaryColor);
  margin: 0 0.6rem;
  font-weight: 600;
}

.sectionTitle .titleText {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sectionTitle .underline {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 35px;
  left: 0;
  border-radius: 10px;
  background: var(--secondaryColor);
  overflow: hidden;
}

.sectionTitle .underline span {
  top: 0;
  left: 10px;
  height: 100%;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  background: var(--textColor);
  -webkit-animation: moveLine 2s linear infinite;
          animation: moveLine 2s linear infinite;
}

.header {
  width: 100%;
  height: 10%;
  position: fixed;
  background: var(--bgColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
  z-index: 100;
}

.header .logo {
  color: var(--textColor);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.header .logo span {
  font-size: 50px;
  color: var(--primaryColor);
}

.header .toggleIcon {
  color: var(--primaryColor);
  font-size: 2rem;
  cursor: pointer;
}

.headerActive {
  background: var(--cardColor);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
          box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: -700%;
    left: 0;
    right: 0;
    background: var(--formColor);
    padding: 1rem 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 2px solid var(--primaryColor);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 150;
  }
}

.list {
  position: relative;
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 0.6rem 2rem;
}

.list .closeIcon {
  position: absolute;
  top: 10px;
}

.list .closeIcon .icon {
  color: var(--primaryColor);
  font-size: 30px;
}

.list .closeIcon .icon:hover {
  color: var(--hoverColor);
}

.list-item {
  margin: auto;
  padding: 16px 0;
}

.list-link {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.list-link .number {
  color: var(--hoverColor);
}

.list-link:hover {
  color: var(--hoverColor);
}

.list-link::before {
  content: "";
  position: absolute;
  background: var(--hoverColor);
  height: 2px;
  width: 0%;
  bottom: -3px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-link::after {
  content: "";
  position: absolute;
  background: var(--primaryColor);
  height: 2px;
  width: 0%;
  bottom: -3px;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.list-link:hover::before {
  width: 100%;
}

.list-link:hover::after {
  width: 100%;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.resume .resumeBtn {
  border: 2px solid var(--hoverColor);
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  color: var(--primaryColor);
}

.resume .resumeBtn::before {
  content: "";
  height: 100%;
  width: 0%;
  background: var(--hoverColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.resume .resumeBtn::after {
  content: "";
  height: 100%;
  width: 0%;
  background: var(--bgColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resume .resumeBtn:hover {
  color: var(--textColor);
  border: 2px solid var(--bgColor);
}

.resume .resumeBtn:hover::before,
.resume .resumeBtn:hover::after {
  width: 100%;
}

.content {
  margin: 4rem 0;
}

.content .contentText {
  margin: 1rem 0;
}

.content .contentText .introTxt {
  font-size: 1rem;
  color: var(--primaryColor);
  padding: 1rem 0;
  letter-spacing: 1px;
}

.content .contentText .name {
  font-size: 3rem;
  font-weight: 600;
  color: var(--textColor);
}

.content .contentText .subIntro {
  font-size: 2rem;
  color: var(--secondaryColor);
  line-height: 2rem;
  padding: 0.5rem 0;
}

.content .contentText .homeP {
  font-size: 1.3rem;
  color: var(--paragraphColor);
  padding: 1rem 0;
  max-width: 600px;
}

.content .contentBtn {
  margin: 2rem 0;
  overflow: hidden;
  padding: 0.3rem 0;
}

.content .contentBtn a {
  padding: 1rem 1.5rem;
  border: 2px solid var(--primaryColor);
  border-radius: 3rem;
  color: var(--BgColor);
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  background: var(--primaryColor);
  z-index: 2;
}

.content .contentBtn a .icon {
  margin-left: 0.6rem;
  cursor: pointer;
}

.content .contentBtn a::before {
  content: "";
  height: 100%;
  width: 0%;
  background: var(--primaryHover);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3rem;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .contentBtn a::after {
  content: "";
  height: 100%;
  width: 0%;
  background: var(--BgColor);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3rem;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.content .contentBtn a:hover {
  color: var(--formColor);
  font-weight: 600;
  border: none;
  z-index: 2;
}

.content .contentBtn a:hover::before,
.content .contentBtn a:hover::after {
  width: 100%;
}

@media screen and (min-width: 368px) {
  .ctaDescription {
    text-align: justify;
  }
}

@media screen and (min-width: 645px) {
  .skillsContent {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  table .containerTitle th {
    font-size: 20px !important;
  }
  table .projectListItem {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 6rem 0 4rem;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .closeIcon {
    display: none;
  }
  .header {
    padding: 3rem 4rem;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
  }
  .list .list-link {
    color: var(--textColor);
    font-size: 1rem;
  }
  .navToggle {
    display: none;
  }
  .resume .resumeBtn {
    color: var(--secondaryColor);
  }
  .boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .about .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contactContent {
    -ms-grid-columns: 200px 400px;
        grid-template-columns: 200px 400px;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
  .contactContent .contactTop {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (min-width: 960px) {
  .bodyContainer {
    width: 65%;
    margin: auto;
  }
  .mobileIcons {
    display: none;
  }
  .col {
    position: fixed;
    bottom: 0;
    padding: 0 1rem;
    margin: 0 4rem;
    display: block;
  }
  .col .leftCol {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col .divLine {
    content: "";
    height: 150px;
    width: 1px;
    background: var(--secondaryColor);
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .col .leftColIcon {
    font-size: 1.5rem;
    color: var(--secondaryColor);
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
  }
  .col .leftColIcon:hover {
    color: var(--primaryColor);
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .rightCol {
    right: -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .emailDiv {
    color: var(--secondaryColor);
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transform: rotate(90deg) translate(-90px, -12px);
            transform: rotate(90deg) translate(-90px, -12px);
  }
  .emailDiv:hover {
    color: var(--primaryColor);
  }
  .rightdivLine {
    content: "";
    height: 150px;
    width: 1px;
    background: var(--secondaryColor);
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .contentText .introTxt {
    font-size: 1.5rem !important;
  }
  .contentText .name {
    font-size: 4rem !important;
  }
  .contentText .subIntro {
    font-size: 2rem !important;
  }
  .contentText .homeP {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 1080px) {
  .home .container {
    padding: 1rem 4rem;
  }
  .archiveSection .titleSubText {
    font-size: 20px;
  }
  .archiveSection .underline {
    margin-top: 1rem;
  }
  .archiveSection .titleText {
    font-size: 45px !important;
  }
  .contentText .introTxt {
    font-size: 1.2rem !important;
  }
  .contentText .name {
    font-size: 4em !important;
  }
  .contentText .subIntro {
    font-size: 2.4rem !important;
  }
  .contentText .homeP {
    font-size: 1.7rem !important;
  }
  .ctaDescription {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 1240px) {
  .skillsContent {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .skillsContent .skillInfo {
    margin: auto;
  }
  .contentText .introTxt {
    font-size: 1.3rem !important;
  }
  .contentText .name {
    font-size: 5.5em !important;
  }
  .contentText .subIntro {
    font-size: 2.8rem !important;
    line-height: 2.5rem !important;
  }
  .contentText .homeP {
    font-size: 1.7rem !important;
  }
  .ctaDescription {
    font-size: 1.2rem !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hoverColor);
}
/*# sourceMappingURL=style.css.map */