@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600&family=Barlow+Condensed:wght@300;400;500;600;700&display=swap");

:root {
  --bgColor: #031a30;
  --primaryColor: #00eaff;
  --hoverColor: hsl(185, 92%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bgColor);
  height: 200vh;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hoverColor);
}
