@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0e1c42;
  font-family: "Advent Pro", sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  z-index: 100;
  background: #0e1c42;
}

.headerActive {
  background: #010912;
  transition: 0.5s;
  box-shadow: 0 2px 4px rgba(1, 9, 18, 0.9);
}

.logo .home {
  color: #dae4fb;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo span {
  color: #40a3ff;
  font-size: 40px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  margin-right: 1rem;
}

.navItem {
  margin: auto;
  padding: 1rem 0.625rem;
}

.navLink {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #dae4fb;
}

.number {
  color: #40a3ff;
}

.navLink:hover {
  color: #40a3ff;
}

.navLink::before {
  content: "";
  position: absolute;
  background: #40a3ff;
  height: 2px;
  width: 0%;
  bottom: -2px;
  left: 0;
  transition: 0.5s;
}
.navLink::after {
  content: "";
  position: absolute;
  background: #40a3ff;
  height: 2px;
  width: 0%;
  bottom: -2px;
  left: 0;
  transition: 1s;
}

.navLink:hover::before {
  width: 100%;
}
.navLink:hover::after {
  width: 100%;
}

.resume {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.resumeBtn {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #40a3ff;
  color: #dae4fb;
}

.resumeBtn::before {
  content: "";
  height: 100%;
  width: 0%;
  background: #40a3ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 1s;
}
.resumeBtn::after {
  content: "";
  height: 100%;
  width: 0%;
  background: #40a3ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.resumeBtn:hover {
  border: 2px solid #0e1c42;
}
.resumeBtn:hover::before,
.resumeBtn:hover::after {
  width: 100%;
}

.menuIcon,
.closeIcon {
  display: none;
}

.container {
  width: 66%;
  margin: auto;
}

section {
  padding: 6rem 0 3rem;
}

.homeSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dae4fb;
}

.homeSection h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 6%;
}

.homeSection h2 {
  text-align: center;
  font-size: 50px;
}

.homeSection a {
  margin-top: 6%;
}

section .content {
  /* padding: 10% 0; */
}

.sectionContainer {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #dae4fb;
  display: flex;
  align-items: center;
}

.titleNumber {
  color: #40a3ff;
  margin: 0 0.6rem;
  font-weight: 600;
}

.titleText {
  position: relative;
  width: max-content;
}

.titleText .underline {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 35px;
  left: 0;
  border-radius: 10px;
  background: #dae4fb;
  overflow: hidden;
}

.underline span {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 10px;
  border-radius: 10px;
  background: #40a3ff;
  animation: moveLine 2s linear infinite;
}

@keyframes moveLine {
  0% {
    left: -20px;
  }

  100% {
    left: 100px;
  }
}

.about {
  font-family: "Ubuntu", sans-serif;
  color: #dae4fb;
  font-size: 16px;
  line-height: 1.5;
}

.about p {
}

.about .content {
  text-align: justify;
  display: grid;
  /* gap: 20px; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    "first picture"
    "second picture"
    "third third";
}

.aboutMeText {
  grid-area: first;
  align-self: center;
}
.aboutMeText2 {
  grid-area: second;
  align-self: center;
}
.aboutMeText3 {
  grid-area: third;
}
.myImageBox {
  grid-area: picture;
  justify-self: center;
  align-self: center;
}

.skillIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #010912;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

.skillIcons i {
  font-size: 50px;
  color: #dae4fb;
  transition: all 1s;
}

.skillIcons i:hover {
  color: #40a3ff;
  transform: translateY(2px);
}

.boxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 2rem;
}

.box {
  background: #010912;
  border-radius: 5px;
  overflow: hidden;
}

.box img:hover {
  transform: scale(1.1);
}

.box .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.box .image img {
  transition: all 0.2s linear;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box .boxContent {
  padding: 2rem;
  text-align: center;
}

.boxContent div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContent h3 {
  font-size: 2rem;
  font-size: 30px;
  color: #dae4fb;
}

.boxContent p {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-size: 20px;
  color: #dae4fb;
  line-height: 1.4;
}

.boxContent a {
  font-size: 25px;
  color: #40a3ff;
  transition: all 0.2s linear;
}

.boxContent i {
  padding-right: 0.5rem;
  font-size: 20px;
}

.boxContent a:hover {
  padding-left: 1rem;
}

/* Contact Form */
form {
  /* display: flex; */
  /* display: grid; 
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.formFields {
  display: grid;
  gap: 1rem;
}

.formFields .field {
  display: grid;
  border-radius: 5px;
  padding: 2%;
  background: #010912;
}

.field label {
  color: #dae4fb;
  font-size: 18px;
  font-weight: bold;
}

.field input {
  color: #40a3ff;
  font-size: 18px;
  background: transparent;
  outline: none;
  border: none;
}

textarea {
  width: 100%;
  font-family: "Advent Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #40a3ff;
  background: #010912;
  outline: none;
  border: none;
  padding: 2%;
  margin-top: 1rem;
  border-radius: 5px;
}

textarea::placeholder {
  color: #dae4fb;
  font-size: 18px;
  font-weight: bold;
  font-family: "Advent Pro", sans-serif;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  font-size: 20px;
  font-weight: 600;
  color: #dae4fb;
  background: #010912;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Advent Pro", sans-serif;
}

form button:hover {
  background: #40a3ff;
  transition: all 1.5s;
}

form button i {
  margin-left: 0.5rem;
}

.about .content,
.skills .content,
.projects .content {
  margin-top: 1rem;
}

.contact .content {
  /* width: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  margin-top: 1rem;
  /* justify-content: center;
  align-items: center; */
}

.contactData {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.contactCard {
  /* background: yellow; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* justify-content: end; */
  margin: 1rem;
  padding: 1rem;
  background: rgba(1, 9, 18, 0.9);
  border-radius: 5px;
  /* background: yellow; */
}

.contactCard i {
  font-size: 25px;
  color: #40a3ff;
  margin-right: 1rem;
  cursor: pointer;
}

.contactCard span {
  color: #dae4fb;
}

/* p {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: left;
} */

.footer {
  width: 100%;
  height: 10vh;
  background: #010912;
  color: #dae4fb;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer a i {
  font-size: 30px;
  color: #dae4fb;
  transition: all 1s;
}

.footer a i:hover {
  color: #40a3ff;
  transform: translateY(2px);
}

@media screen and (max-width: 1200px) {
  .about .content {
    display: flex;
    flex-direction: column;
  }

  .myImageBox {
    margin-top: 5%;
  }

  .boxContainer {
    grid-template-columns: 1fr 1fr;
  }

  .contact .content {
    grid-template-columns: 1fr;
    margin-top: 0.1rem;
  }
}

@media screen and (max-width: 767px) {
  .closeIcon {
    display: flex;
    position: absolute;
    top: 10px;
    cursor: pointer;
  }
  .closeIcon i {
    color: #40a3ff;
  }

  .menuIcon {
    display: flex;
    color: #40a3ff;
    font-size: 2rem;
    cursor: pointer;
  }

  .navBar {
    flex-direction: column;
    position: absolute;
    top: -666%;
    right: 0;
    left: 0;
    background: #010912;
    padding: 1rem 0;
    transition: 1s;
    z-index: 200;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #40a3ff;
  }

  .show {
    top: 0;
  }

  .navList {
    position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 0.5rem 2rem;
  }

  .navItem {
    margin: auto;
    padding: 1rem 0;
  }

  .container {
    width: 80%;
  }

  section {
    padding: 4rem 0 2rem;
  }

  .homeSection h1 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 10%;
  }

  .homeSection h2 {
    font-size: 30px;
  }

  .homeSection a {
    margin-top: 10%;
  }

  .about .content,
  .skills .content,
  .projects .content {
    margin-top: 0.1rem;
  }

  .boxContainer {
    grid-template-columns: 1fr;
  }

  .box .boxContent {
    padding: 1rem;
    text-align: center;
  }

  .boxContent h3 {
    font-size: 2rem;
    font-size: 25px;
    color: black;
  }

  .boxContent p {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-size: 18px;
    color: red;
    /* line-height: 1; */
  }

  .boxContent a {
    font-size: 25px;
    color: violet;
    transition: all 0.2s linear;
  }

  .contactData {
    margin-bottom: 1rem;
    /* flex-direction: row; */
  }

  .contactCard h3 {
    font-size: 15px;
  }

  .contactCard h2 {
    font-size: 18px;
  }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010912;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40a3ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 163, 255, 0.8);
}
